.modal {
  color: var(--sec-portfolio-font-color);
}
.modal-body {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.modal-body:hover {
  background-size: 120%;
}
.modal .table {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));
}
.modal .table.light {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.6)
  );
}
.modal td {
  border-color: var(--border-color, rgba(0, 0, 0, 0.6));
}
.modal .table.light td {
  border-color: #eee;
}
