.lst {
  display: inline-block;
  border-radius: 5px;
  box-shadow: $shadow;
  width: 100%;
  @include break-point(m) {
    max-width: 25vw;
    margin: 5px 15px;
  }
  dt {
    border-bottom: 2px solid var(--main-lighter-color);
    font-size: 1.5rem;
    text-align: center;
    padding: 2px;
    margin: 0;
    @include br(top);
  }
  dd {
    margin: 0;
    font-size: 1.5rem;
    text-align: left;
    .sec-skills & {
      padding: 5px 15px;
    }
    a {
      color: var(--main-color);
      display: inherit;
      padding: 5px 15px;
      &:hover {
        background-color: var(--main-lighter-color);
      }
    }
  }
}
